[2018-12-20 03:27] collabnix opened #1 "The `docker service create` reporting no-such Docker Image"
### Behaviour

The `docker service create` CLI failed to find crazy-max/swarm-cronjob Docker Image from DockerHub.

#### Steps to reproduce this issue

1. Clone the Repository

2. Run the below command:

[code]

[code]

#### Expected behaviour

The `docker service create` command should bring up service successfully.

#### Actual behaviour

[code]

### Configuration

* Target Docker version (the h

[2018-12-20 08:30] crazy-max commented on #1
@collabnix Yes small typo sorry ^^
`crazy-max/swarm-cronjob` > `crazymax/swarm-cronjob`

[2018-12-20 08:30] #1 closed

[2018-12-24 12:36] collabnix commented on #1
http://collabnix.com/running-cron-jobs-container-on-5-node-docker-swarm-mode-cluster/

[2019-01-11 10:05] acehege opened #2 "Non-cronjob containers are added to cronjob list"
### Behaviour
swarm-cronjob adds non-crontab services to crontab schedule,

#### Steps to reproduce this issue

1. Deploy swarm-cronjob following the Quickstart guide.

2. Deploy service with crontab labels

3. Verify that the service is picked up by swarm-cronjob

4. Deploy service without the swarm-cronjob specified labels

#### Expected behaviour

#### Actual behaviour

### Configuration

* Tar

[2019-01-11 12:01] crazy-max commented on #2
Hi @acehege, can you post your compose files ?

[2019-01-11 13:15] acehege commented on #2
Sure...
## non-crontab service
[code]

No extra labels are added to the service other then the default ones:

[code]
## crontab enabled service

[code]

[2019-01-11 14:31] acehege commented on #2
I am going to let it run overnight and post the logs tomorrow :)

[2019-01-11 14:39] crazy-max commented on #2
@acehege Ok thanks!

[2019-01-14 11:47] acehege commented on #2
It seems that updating a service ( or removing it ), tricks swarm-cronjob so it adds it to the cronlist... And ultimately crashes swarm-cronjob:

[code]

[2019-01-14 14:32] crazy-max commented on #2
@acehege Can you test the latest relezase (0.1.2) ?

[2019-01-14 15:07] acehege commented on #2
Looks like the latest release fixed the issue :+1:

[2019-01-14 15:09] crazy-max commented on #2
Thanks :slightly_smiling_face:
Keep me in touch if you encounter any other problems

[2019-01-14 15:09] #2 closed

[2019-01-22 07:39] Mikkyo opened #3 "Docker Swarm Config Ignored"
### Behaviour
Hi there,

It seems that if you put a "configs" in your docker-compose swarm file, and you try to run this container onto the your CRON system, the configuration is totally ignored. I made a quick fix to avoid any problem with this behavior. but it will be great if it doesn't happen.

#### Steps to reproduce this issue

1. Having a docker-compose with a config file
deploy:
      labe

[2019-01-22 14:45] crazy-max commented on #3
Hi @Mikkyo, I was able to reproduce your issue. What is your current Compose file format ?

[2019-01-22 15:10] crazy-max commented on #3
After an update some specs are removed :

![image](https://user-images.githubusercontent.com/1951866/51544006-34ea2f80-1e5f-11e9-9e7c-db76b1c7c714.png)

It seems there is a [workaround](https://github.com/moby/moby/issues/35048#issuecomment-424372653) for that using `name` parameter but instead using this I will add a new implementation for this behaviour. I keep you in touch and thans for your su

[2019-01-22 17:38] crazy-max commented on #3
@Mikkyo Should be ok with the latest release

[2019-01-22 17:38] #3 closed

[2019-01-24 01:41] Mikkyo commented on #3
Thank you for your quick work ! I will try and keep you updated ok ?

[2019-01-24 08:22] crazy-max commented on #3
@Mikkyo Nice thanks :)

[2019-04-25 13:57] axel-marbois opened #4 "Skip-running not working on a 3-nodes cluster"
# Behaviour

Hi,

First of all, thank you so much for this awesome repo. I just unfortunately noticed that the "skip-running" argument does not work on my 3-nodes swarm cluster.
It works correctly once, then it begins to shutdown and re-run running services.

## Steps to reproduce this issue

Here is my docker-compose :
[code]

## Expected behaviour

A single service completed each minut.

## Actu

[2019-04-26 14:50] crazy-max commented on #4
Hi @axel-marbois,

I will take a look on this asap. Thanks for your concise report and your support.

[2019-04-28 19:32] crazy-max commented on #4
@axel-marbois I cannot reproduce your issue on `Docker version 18.09.3, build 774a1f4eee` using your exact compose cfg :

[code]

I'll try on some EC2 instances.

[2019-04-29 10:02] axel-marbois commented on #4
@crazy-max Thank you a lot for taking a look to my problem.

Did you try on a multi-node cluster ? I cannot reproduce this issue on only one node, but I can reproduce it using my vagrant VMs. I'd be interested to know whether you can reproduce it on multiple EC2 instances.

Axel

[2019-04-30 15:31] axel-marbois commented on #4
Hi @crazy-max

I made a little bit of research today, and I guess that ServiceInspectWithRaw(ctx context.Context, serviceID string) function from docker API does not always return the LAST status when a 1-replica service is deployed on a multi-nodes cluster. I'm not 100% sure tho, just fwiw.

Axel

[2019-04-30 15:35] crazy-max commented on #4
Hi @axel-marbois

I was able to reproduce your problem and indeed it only occurs in multi-node cluster.
And yeah this maybe linked to service inspection. I keep you in touch.

[2019-05-01 03:50] crazy-max commented on #4
@axel-marbois Latest release should fix your issue ;)

[2019-05-01 03:50] #4 closed

[2019-05-01 11:45] axel-marbois commented on #4
Hi @crazy-max ,
Indeed, your last release fixed my issue.
If I understand well, you modified your function that retrieves the task, skipping all the complete tasks, so that this function retrieves only the latest task and not the other ones. Is that correct ?
Thank you a lot,
Axel

[2019-05-01 14:02] crazy-max commented on #4
@axel-marbois Yes that's it!

[2019-05-13 13:45] ne0c0de opened #5 "cronjob for an existing service in swarm"
Hi,

I have a service in my swarm that is running my nodejs application and my goal is creating a crontab task inside of it. So if I put command lines to swarm configuration it's overlapsing my docker image command and my service doesn't run.

So how can i configure it? Also how can i run multiple commands? (such as every minute, every hour etc.)

[2019-05-13 19:37] crazy-max commented on #5
Hi @ne0c0de,

I am not sure I understood your request. swarm-cronjob already takes care of calling services but they must meet the prerequisites [explained in the README](https://github.com/crazy-max/swarm-cronjob#swarm-cluster). You can find some examples [here](https://github.com/crazy-max/swarm-cronjob/tree/master/.res/example).

Can you give more detailed explanations with a use case by postin

[2019-05-14 06:02] ne0c0de commented on #5
Hello @crazy-max

thank you for fast response

here's my swarm config:

[code]

i want to run

[code]

command on myapp container in every minutes (also i have another commands that i want to run on same container.

This is my aim but i couldn't achieved yet. I were did it with ofelia when i used docker-compose but ofelia doesn't work with swarm because of container name couldn't be reached.

[2019-05-14 07:35] crazy-max commented on #5
Ok I understand now. You cannot integrate the cron service into your application service. The service that will be executed every minute by swarm-cronjob must be dissociated from your application. You can find a concrete example here : https://github.com/crazy-max/docker-matomo/blob/master/examples/swarm/docker-compose.yml

[2019-05-14 07:35] #5 closed

[2019-05-15 14:08] mashbrno opened #6 "Incorrect cron parsing"
Log is better than thousand words. Hours are swapped with minutes, instead of executing at 2am, it is running every hour at xx:02.

{"level":"debug","service":"generator","time":"2019-05-15T14:02:00Z","message":"Update cronjob with schedule 0 2 * * *"},
{"level":"debug","service":"generator","newstate":"completed","oldstate":"updating","time":"2019-05-15T14:02:00Z","message":"Event triggered"}

[2019-05-15 14:16] crazy-max commented on #6
Cron expression format uses 6 space-separated fields. Please see : https://godoc.org/github.com/crazy-max/cron#hdr-CRON_Expression_Format

[2019-05-15 14:16] #6 closed

[2019-05-29 20:14] rjchicago opened #7 "Support for Global Mode"
Hi,
I'd like support for global mode services in swarm.
Our use-case is to run a prune service globally.

### Prune Service
[code]

### Swarm-Cronjob Log
[code]

[2019-05-30 11:56] crazy-max commented on #7
Hi @rjchicago,

For now I will fix this nil pointer and I will look to bring support to global mode.

[2019-06-29 02:40] pascalandy commented on #7
@rjchicago example to execute `command: ["docker", "system", "prune", "-f"]` should be in the [examples](https://github.com/crazy-max/swarm-cronjob/tree/master/.res/example).

[2019-06-29 02:45] pascalandy opened #8 "Question: how to run a script on my VPS?"
What I want is to manage cron without editing the `crontab -e` on every VPS.

I see all examples are running something in a container. I want to run a script on my host.

How should I run something like `/user/mnt/my_scripts/all-nodes/fct_BackupGhostDbOnly.sh` ?

Cheers!

[2019-07-11 08:48] erdna1982 commented on #7
Hello.

Any update supporting global mode?

[2019-07-12 02:16] crazy-max commented on #8
If you want to run command on host, `privileged` mode must be enabled for the container. But privileged services are not supported for Swarm at that time. There is moby/moby#24862 about this.

[2019-07-12 02:17] #8 closed

[2019-07-12 02:25] pascalandy commented on #8
Thanks!

[2019-07-12 02:28] crazy-max commented on #8
You should also see [this thread](https://stackoverflow.com/a/52910798/514571) about that question. Some users also use SSH to enter commands on host.

[2019-07-17 20:45] crazy-max commented on #7
Working on it

[2019-07-17 22:41] crazy-max commented on #7
Ok I think I have something pretty stable :

[code]

I keep you in touch for the next iteration.

[code]

[2019-07-18 00:21] crazy-max commented on #7
You can try out the [latest release](https://github.com/crazy-max/swarm-cronjob/releases/latest).

[2019-07-19 20:20] #7 closed

[2019-07-22 13:35] rjchicago commented on #7
I tested this out and cron jobs work with Global mode correctly. Thanks again, @crazy-max!

For reference, here is the test service I used:
[code]

[2019-07-22 13:41] erdna1982 commented on #7
great job @crazy-max :)

[2019-07-24 11:57] tsbx opened #9 "Start a job in a time range (H syntax)"
Hello,

I would like to start many nearly identical jobs/services once every X minutes, but not at the exact same time (to not overload the swarm workers).

For now, I handle this manually by specifying a different schedule label for each service.
When I have new services, I have to check for potential overlaps, etc.
As you can imagine, this is pretty cumbersome to maintain.

Have you planned to i

[2019-07-24 15:49] crazy-max commented on #9
Hi @tsbx,

I use robfig/cron on swarm-cronjob for cron implementation and there is a (closed) PR on robfig/cron#47 about this. I will resume work on this PR so that we can have an implementation on our side.

[2019-08-10 17:56] djmaze commented on #7
Just to understand the drawback: there seems to be no way to prevent a global service from running once the moment it is deployed. Right?

[2019-08-12 09:04] crazy-max commented on #7
@djmaze Yes that's a drawback of global mode.

[2019-08-16 14:33] cjsfj opened #10 "Replicas > 1"
Is it possible to run this on multiple replicas?

My deployment has three manager nodes and three worker nodes. I'm curious if it's possible to run this with three replicas in order to accommodate scale.

Alternatively, maybe a single replica can handle as much as one can throw at it?

Thanks for making this!

CJ

[2019-08-19 19:58] crazy-max commented on #10
I'm not sure I've identified your need, but if it's about scalability, swarm itself will take care of it. Can you give me your use case?

[2019-08-19 20:01] cjsfj commented on #10
Thanks so much for the reply!

Mostly I was curious if there is some sort of recommended cap as to the number of scheduled tasks this would operate without issues.. If I say, had 200 "cronjobs" would there be any issue?

If I were to hit that cap, I would think about running two replicas of this service. But then I'd be worried that jobs would be duplicated.

Let me know if this makes sense.

Than

[2019-08-19 20:14] crazy-max commented on #10
swarm-cronjob only calls Docker API to bring up your service so everything is handle by Docker engine. If your concern is about queue jobs size managed by swarm-cronjob, I have never encountered this kind of problem. In fact, I use the wonderful [robfig/cron](https://github.com/robfig/cron) lib to handle scheduled jobs and it works pretty well.

So in your case, the load distribution will be manag

[2019-08-19 20:19] #10 closed

[2019-08-19 20:19] cjsfj commented on #10
thank you!

[2019-08-23 18:46] cjsfj opened #11 "Scheduling in timezone"
Have their been any requests/thoughts around the ability to schedule tasks in a timezone?

For example, if I have a swarm-cronjob instance that runs in UTC, I would like to schedule a service to run every week on Monday at Midnight California time, without doing the math myself to adjust the scheduling.

I have users scheduling tasks in multiple time zones and this would be a great nice-to-have.

[2019-08-23 19:16] crazy-max commented on #11
Hi @cjsfj, ok so you want to set a timezone for each service through a label like `swarm.cronjob.timezone=Europe/Paris`?

[2019-08-23 19:17] cjsfj commented on #11
@crazy-max That's exactly it.

[2019-08-23 19:23] crazy-max commented on #11
@cjsfj I think you can already do it using `CRON_TZ` to specify the timezone of a single schedule, which is sanctioned by the specification.

Example: `swarm.cronjob.schedule=CRON_TZ=Asia/Tokyo 0 0 * * * *`

See also robfig/cron#148

[2019-08-23 19:34] cjsfj commented on #11
That's great. Thank you. I totally missed that.

[2019-08-23 19:34] #11 closed

[2019-08-23 19:39] crazy-max commented on #11
@cjsfj Let me know if it works. I will add a note about this in the README.

[2019-08-31 03:25] cjsfj opened #12 "Multiple Schedules?"
Really enjoying this capability.

I do have one service that I want to have multiple schedules. Example:

0 * 17-20 5 9 *
0 * 10-20 8 9 *
0 * 16-22 9 9 *
0 * 17-20 12 9 *
0 * 10-20 15 9 *
0 * 17-20 16 9 *
0 * 17-20 19 9 *
0 * 10-20 22 9 *
0 * 17-20 23 9 *
0 * 17-20 26 9 *
0 * 10-20 29 9 *

Would I need to specify multiple services with the same command but different schedules? Or is there a way to

[2019-08-31 04:27] crazy-max commented on #12
Hi @cjsfj,

Yes, you need to specify multiple services but can you tell me more about your use case?

Thanks, glad you like it.

Also, is `CRON_TZ` working ? (see #11)

[2019-08-31 22:11] cjsfj commented on #12
Thanks @crazy-max

Our use case is that we have a job that need to run to coincide with business activities that are arbitrarily scheduled for different times on different dates. It's the same image and same command (same service) with the only exception being the schedule is not repeatable in enough of a way that could be consistent.

One option might be to create a parent script that runs on a r

[2019-09-02 07:37] leshik opened #13 "Feature: log removed services"
Would be nice if `swarm-cronjob` could log removed services as well. Now when a service is added, the following line is printed:

[code]

But when you deploy the same stack with the `--prune` option, and service gets deleted, nothing is printed, which is a bit confusing.

[2019-09-02 07:56] leshik commented on #13
I also think another message should be printed to log in case the schedule for the existing service is modified.

[2019-09-02 23:36] crazy-max commented on #12
Ok, Since your schedule is not constant / linear, you have to specify multiple services.

What you can use to manage multiple schedules is to use [Docker Application](https://github.com/docker/app) to generate these services for example.

Ok thanks!

[2019-09-02 23:36] #12 closed

[2019-09-23 00:02] crazy-max commented on #13
@leshik Log for removed/disables services has been added in latest release.

[2019-09-23 00:02] #13 closed

[2019-09-23 22:45] djmaze commented on #7
Also, I am experiencing strange restart issues with global mode. Disabled that service on my swarm for now. Anyone else experiencing problems?

[2019-09-24 02:33] crazy-max commented on #7
@djmaze I have not encountered this kind of problem. Can you give us more explanations? Maybe trough a new issue?

[2019-10-09 11:07] sirlatrom opened #16 "Feature suggestion: Scale up to more than 1 task"
Currently, swarm-cronjob scales a service down to 0 and then up to 1 when a cron job is to be started.

https://github.com/crazy-max/swarm-cronjob/blob/dd81322ecaf26277debdd0ef93823de6a17b49fd/internal/worker/worker.go#L53-L56

The idea is to add an additional label, e.g. `swarm.cronjob.replicas=3`, which would control the number of replicas started on the cron schedule, so it would be scaled down

[2019-10-10 16:33] crazy-max commented on #16
@sirlatrom Thanks for your suggestion. A new label looks ok to me. I will make some tests and keep you in touch.

[2019-10-12 23:35] crazy-max commented on #16
@sirlatrom After implementing this feature in #17 and performing some tests, I encounter a strange behavior when the number of replicas > 0

[code]

[code]

When this service is created, swarm-cronjob is able to create 5 tasks on first execution but the next iteration only creates 1 task and the same goes for the next one:

[code]

[code]

I think this comes from task lifecycle when it's completed

[2019-10-13 08:52] sirlatrom commented on #16
@crazy-max Maybe it could be done by scaling down to 0 first before scaling up again?

[2019-10-13 16:52] crazy-max commented on #16
@sirlatrom Yes I've tried this workaround but it changes the internal object version of the service cause it's updated and it also triggers a service event I don't want. I think I could add a label to the service to detect a scale down by swarm-cronjob.

[2019-10-13 18:21] crazy-max commented on #16
@sirlatrom Scaling down and including a label to detect this behavior seems to work:

[code]

[code]

[2019-10-13 21:31] crazy-max commented on #16
@sirlatrom You can try out the latest 1.6.0-beta.1.

[2019-10-14 13:13] #16 closed

[2019-10-18 05:22] hgl opened #18 "Feature request: cronjob to restart existing service?"
Firstly, thanks for the awesome project!

I'm using certbot to renew certificates, after it success, I'd like to ask nginx service to reload them.

I wonder if swarm-cronjob could restart a service in this case? The certbot is defined as a cron job now, but I have no idea what command to write to restart the nginx service.

BTW, restarting nginx will be conditional. Only when the renewing is succe

[2019-10-18 05:47] hgl commented on #18
I guess it's not currently supported, and I've been thinking what the API should look like.

I wonder if you fancy something like this:

[code]

The listed services are updated (using `service update --force`) if the command returns successfully.

[2019-10-20 09:46] hgl opened #19 "Feature request: cli to manually run a job?"
Sometimes manually running a job is desired, like migrating db etc. The job doesn't have to be run repeatedly.

I wonder if it makes sense to offer a cli that can instruct swarm-cronjob to run a job immediately?

Ideally the cli could offer arguments similar to that of `docker run` where you can override entry point, working dir, etc.

[2019-10-20 14:54] crazy-max commented on #18
@hgl

This seems feasible only if the services to be updated are not themselves managed by swarm-cronjob.

Maybe playing with [exit codes](http://www.tldp.org/LDP/abs/html/exitcodes.html) in your certbot service but currently swarm-cronjob does not handled this event.

Thanks for your support :)

[2019-10-20 14:55] crazy-max commented on #19
@hgl No, that's not swarm-cronjob's goal here, sorry.

[2019-10-20 14:55] #19 closed

[2019-10-20 15:01] hgl commented on #18
I agree, and it doesn't make much sense to restart a cron job.

I think the name `update-services` somewhat conveys the meaning.

[2019-10-26 20:50] djmaze opened #20 "Global mode does not work correctly"
### Behaviour

#### Steps to reproduce this issue

1. Create a 5-node swarm cluster with 3 manager nodes in [play with docker](https://play-with-docker.com)
2. Create a swarm-cronjob stack as shown in [the example](https://github.com/crazy-max/swarm-cronjob/blob/master/.res/example/swarm_cronjob.yml)
3. Create a stack as shown in the [example for a global job](https://github.com/crazy-max/swarm-cr

[2019-10-26 21:01] djmaze commented on #7
@crazy-max I just created #20.

Apart from that one, I am experiencing a different problem as well, where swarm-cronjob triggers new tasks again and again in a short amount of time. Will see if I can reproduce.

[2019-10-26 21:12] crazy-max commented on #7
@djmaze

Thanks will take a look asap.

I also experienced this issue if triggers < 10sec. I will take a look on this too.

[2019-10-30 11:25] aguiraf commented on #6
Hi @crazy-max, thank you for this useful tool!
A note: actual implementation is based on 6 fields, but the doc you linked is all about classical 5 fields cron (without seconds)

[2019-10-30 12:42] crazy-max commented on #6
Hi @aguiraf, sorry the link is outdated (https://godoc.org/github.com/robfig/cron#hdr-CRON_Expression_Format) and now seconds field is optional.
Thanks for your support :)

[2019-11-17 16:59] danielgrabowski commented on #20
I have the same problem. If I start a global service on 9 nodes running every 1m I can see that every minute it starts on a different set of nodes (usually 2 or 3 out of 9 more less randomly).

[2019-11-19 05:41] crazy-max commented on #20
Hi guys, I did some tests on my side and it appears that this could be due to the way the tasks on the Swarm side are managed. Maybe linked to a GC issue with [task reaper](https://github.com/docker/swarmkit/tree/master/manager/orchestrator/taskreaper). Any ideas @aaronlehmann?

[2019-12-18 05:10] dejan9393 opened #23 "Update service's schedule"
Is it possible to have the cron schedule updated when the service's labels change?

For example, i'm running Docker Swarm and there's a stack running; one service in the stack has the labels to let swarm-cronjob know that it is a cron task.
I update the `swarm.cronjob.schedule` label in `docker-compose.yml` and run a `docker stack deploy` - swarm-cronjob would notice the change and re-schedule thi

[2019-12-20 21:46] crazy-max commented on #23
@dejan9393 It must be already available. If a service event is triggered, swarm-cronjob will check and update cronjob against this service. If you think there is a bug here, please create a [bug report](https://github.com/crazy-max/swarm-cronjob/issues/new?template=bug_report.md).

[2019-12-20 21:46] #23 closed

[2020-01-27 09:41] batchenr opened #25 "cron doesnt work in swarm"
### Behaviour

Im using docker 19.03.5 and compose version 1.25.0
I did test this on docker-compose with no swarm and it works, once i deploy on swarm
it doesnt matter what i put in the swarm.cronjob.schedule  swarm start container with a script, and when the script end container stops - every 10 seconds.

i want the container to go up every X time that i have set in ""swarm.cronjob.schedule".
her

[2020-01-27 15:34] crazy-max commented on #25
Your labels are misplaced. See [this example](https://github.com/crazy-max/swarm-cronjob/blob/master/.res/example/date.yml) to get started.

[2020-01-27 15:34] #25 closed

[2020-01-31 21:57] djmaze commented on #20
So, in spite of [job support finally getting into Docker](https://github.com/moby/moby/pull/40307)  (yeah!), this project will probably still be useful as long as there is no cron scheduler in Swarm. @crazy-max Do you plan on migrating swarm-cronjob to the new model?

That should then probably fix *this* issue as well.

[2020-02-06 11:51] colthreepv opened #26 "Concatenate jobs"
Hi, this is a feature request / general question

There are several scenarios when multiple commands have to be issued on a cronjob, and they belong to very different Docker Images
An example of this could be backupping a mysql database and then uploading such payload to a cloud provider, let's say dropbox

For such a scenario, a developer could build a third image containing both `mysql` binaries

[2020-02-10 22:54] crazy-max commented on #20
@djmaze Yes I'm aware of this feature. That looks promising and I think it will benefit for the global mode support (and fix this issue).

[2020-02-13 12:40] sandergroenen opened #28 "Skip running not working"
### Behaviour
When adding a cron service with skip-running=true the next iteration of the service starts even though the prior service is still running
#### Steps to reproduce this issue
1.Add a service in yml file with cronjob
[code]
2. Deploy stack through docker stack deploy
3. Observe swarm-cronjob log it will state something like this:
[code]

#### Expected behaviour
not to start the cron ser

[2020-02-13 12:59] #28 closed

[2020-02-13 13:01] sandergroenen commented on #28
i was too soon writing this report. It turned out the cron service inherited a health check from the php service through yml merge feature and since the command was altered from starting a apache process in the actual php service to a php command in the cron job the health check just determined the container was not active...

[2020-03-02 17:11] gustavopaes opened #29 "Log when edit swarm.cronjob.schedule label"
### Behaviour

Log when cronjob time is updated via docker swarm label.

#### Steps to reproduce this issue

1. Create a service `xxx` in your `nnn` stack with swarm-cronjob labels to activate cronjob;
2. swarm-cronjob log will log the message:
`Mon, 02 Mar 2020 13:41:43 -03 INF Add cronjob with schedule 45 * * * * service=nnn_xxxx`
3. Update the label `swarm.cronjob.schedule`
4. Not will be logge

[2020-03-02 17:31] gustavopaes commented on #29
Actually the log exists, but it's flagged as `debug`:
https://github.com/crazy-max/swarm-cronjob/blob/master/internal/app/app.go#L174

Is it purposeful or a mistake?

[2020-03-06 05:32] crazy-max commented on #29
@gustavopaes That's on purpose. This log is an event involving the update of the stack, the service and also its execution via swarm-cronjob. To avoid flooding the logs, it is put in debug mode.

[2020-03-06 05:32] #29 closed

[2020-04-02 12:37] bd8392 opened #33 "How to pass variables to run docker commands"
Hi =)

I've a problem...I've a nextcloud instance running in swarm, that needs a cronjob...I can't figure out how to set this...my approach was the following:

[code]
The command works in docker run, but it doesn't work in the compose-style (the $(docker ps -q -f name=nextcloud_stack_nextcloud) part is missinterpreted). Can someoene help set this up correctly?

Besides thanks for all the cool cont

[2020-04-04 14:42] bd8392 commented on #33
Still didn't figure out what I'm doing wrong... anyone an idea? I'm using rancher-os so this system has no local cron...

[2020-04-05 20:27] bd8392 commented on #33
Ok I made multiple tries now... didn't get it to work...the part $(docker ps -q -f name=nextcloud_stack_nextcloud) is always missunderstood by docker compose yml (swarm)

[2020-04-05 20:34] crazy-max commented on #33
Hi @bd8392

Compose cannot interpret commands. See docker/compose#4081.

[2020-04-05 20:34] #33 closed

[2020-04-05 22:12] bd8392 commented on #33
Okay thanks for the help :-) do you have an idea how I can execute the command on my nextcloud service with your solution? It's the only for swarm and rancheros I think...

[2020-04-05 23:12] crazy-max commented on #33
@bd8392 Take a look at my [swarm stack for Matomo](https://github.com/crazy-max/docker-matomo/tree/master/examples/swarm), it's pretty similar.

[2020-04-06 05:17] bd8392 commented on #33
Oh thanks! =) I'm totally sorry I completely overlooked that...But I've a question on this:
I'm running ouroboros (automatic stack updater to update my nextcloud). Whaht happens, if the production-container and the cron container versions differ? can this break my setup when the diffference would be only for one or two runtimes of the job (becuse the cron-contianer get's updated to)?

[2020-04-06 09:33] bd8392 commented on #33
I tried it out meanwhile and your solution works perfectly! Thanks =)))

[2020-04-07 08:10] bd8392 commented on #33
Hi =) I wanted to provide some examples for webcron for your docs as a small thank you for your development =)

Here is a webcron-example for nectcloud (with encrypted swarm network):
[code]
If you want to use another webcron, just replace the url (for example for matomo). With this solution, you don't have to put volumes in your config, and don't have to worry about updating =)

[2020-04-17 13:37] bd8392 opened #35 "-- Question -- Mariabackup with swarm cronjob"
Hi =), I want to use your container with mariabackup (included in maraidb official docker container) to make backups (as this is not possible in swarm). Have you tried it out and have you maybe an example for that? Do I have to mount the mariadb config to the cron also? Does it somehow interfere with my databases? For example if I use another container for mariabackup, does it crash my databases?

[2020-04-26 13:23] crazy-max commented on #35
Hi @bd8392, here is a basic example: https://github.com/crazy-max/swarm-cronjob/blob/master/.res/example/mariadb_dump.yml

[2020-04-26 13:23] #35 closed

[2020-04-26 14:31] bd8392 commented on #35
Very cool thanks :-)

BlueMail for Android<http://www.bluemail.me/r?b=15824> herunterladen
Am 26. Apr. 2020, um 15:23, CrazyMax <notifications@github.com<mailto:notifications@github.com>> schrieb:

Hi @bd8392<https://github.com/bd8392>, here is a basic example: https://github.com/crazy-max/swarm-cronjob/blob/master/.res/example/mariadb_dump.yml

—
You are receiving this because you were mentioned.

[2020-05-07 08:18] decentral1se opened #41 "renovate/renovate does not run when invoked by swarm-cronjob"
(Thanks for this project!)

### Behaviour

I am trying to run renovate bot to upgrade my configs on a cron job using this project. The cronjob is registered and it is scheduled but the job does not run. I see nothing in the logs for the actual scheduled container. I have tried to use `healthcheck: disable` but this doesn't seem to work either.

My configs:
- swarm-cronjob: https://git.autonomic.zo

[2020-05-07 08:25] decentral1se commented on #41
[code]

From `docker inspect`, it appears to be stuck in "updating" mode?

[2020-05-07 09:25] decentral1se commented on #41
Misconfigured on my side, missing volume mount and secret accessing stanza.

Sorry for the noise!

[2020-05-07 09:25] #41 closed

[2020-05-07 09:29] crazy-max commented on #41
Hi @decentral1se,

If you can open a PR with your stack like I did for [`mariadb_dump.yml`](https://github.com/crazy-max/swarm-cronjob/blob/master/.res/example/mariadb_dump.yml), that would be nice!

[2020-05-15 06:28] ggtools opened #44 "Add retry system"
### Behaviour

I noticed today that my nightly job hasn't run with the following message:

     Rejected 5 hours ago    "No such image: whatever-image:latest@sha256:[...]"

#### Steps to reproduce this issue

A bit complicated but might be a network issue, a Docker bug, etc.

#### Expected behaviour

#### Actual behaviour

### Configuration

* Target Docker version (the host/cluster you manage) :

[2020-05-31 07:18] sairam opened #46 "one of many cronjobs silently fail to load"
### Behaviour

#### Steps to reproduce this issue

1. Load cron jobs as part docker stack deploy

#### Expected behaviour

* All cron jobs should load, if it cannot load, should throw error

#### Actual behaviour

* All cron jobs declared should either load or display error if they cannot be loaded.

### Configuration

* Target Docker version (the host/cluster you manage) : 19.03.8
* Platform (win

[2020-06-02 02:27] sairam commented on #46
This has happened again today. I enabled debug logs, looks like it did not load one of the job. There were 17 jobs and it only loaded 16. The way we deploy this is through a single stack file which has the swarm-cronjob as well as the defined crons (generated from rails whenever gem).

@crazy-max / @decentral1se do you think there could be some edge case if we deploy all of them together?

Could y

[2020-06-03 02:17] sairam commented on #46
read the fine print at https://github.com/crazy-max/swarm-cronjob/blob/master/doc/get-started.md

started the swarm-cronjob prior to starting the cron services.

[2020-06-03 02:17] #46 closed

[2020-06-10 06:43] danielgrabowski commented on #20
Any news on this issue?

[2020-06-14 02:12] ashtuchkin commented on #26
You could probably start both containers on schedule and then the uploader could wait for the exporter to finish by e.g. watching for a special file in the shared volume.

For more advanced logic a separate scheduler like Airflow should work, not sure cronjob is the right place to put it into.

[2020-10-04 11:52] Akaori opened #77 "Swarm-cronjob to stop/start services ?"
Hi,

I would like to know if it is possible to use swarm-cronjob to stop running services running in containers and start other containers ?

Supposing I have limited resources on the cloud, and both Flask app and Airflow tasks should not be running at the same time.

Can I use swarm-cronjob to accomplish it (Schedule what time each container should be running / be able to stop one container befor

[2020-11-07 01:19] panasenco commented on #77
I just had the same problem. Adding the below to my docker-compose file (along with swarm-cronjob of course) allows me to start and stop a service at certain times of day every day:

[code]

[2020-11-14 20:38] djmaze commented on #20
Is anyone aware if [Docker CE 20.10](https://github.com/moby/moby/projects/9) will be released in the near future? That will contain the new job support which blocks this issue.

[2020-12-19 16:14] piscopoc opened #91 "Is there a way to pass in options to start the service?"
Great project, thanks for building this!

Question though, we use a third party docker registry and some services are failing to start because the image it is referencing isn't on the host machine. Is there a way to specify start up options on the service to force it to look to the docker registry for this image when starting up?

Ideally something that would emulate the following:
[code]

Thanks!

[2020-12-19 20:37] crazy-max commented on #91
Hi @piscopoc, can you test with `crazymax/swarm-cronjob:registry-auth`? I've also added a new Docker label to enable this feature called `swarm.cronjob.registry-auth`.

[2020-12-19 20:44] crazy-max commented on #20
@danielgrabowski I'm going to start working on it but I'll need to do a large refactoring beforehand. Keep you in touch.

[2020-12-20 21:43] piscopoc commented on #91
Hi @crazy-max, thanks for turning this around so quickly. Just trying it out right now and I will report back here shortly with the results. Assuming the ```swarm.cronjob.registry-auth``` is just a boolean, right?

[2020-12-20 21:57] crazy-max commented on #91
@piscopoc

Yes that's it! This will retrieve the encoded auth token from the image reference.

[2020-12-20 23:51] piscopoc commented on #91
@crazy-max changes checks out on my end. I will try some more long-term testing with this item as well but I am already seeing immediate results with services starting correctly now.

Thanks again turning this around so quickly and for updating this excellent project with this enhancement!

[2020-12-20 23:55] crazy-max commented on #91
@piscopoc Ok great, I will open a PR with these changes. Keep me in touch with your tests.

[2021-01-03 05:11] #91 closed

[2021-03-09 18:13] maiermic opened #113 "log update of cronjob as Info instead of Debug"
Is it intentionally that

[code]

is [logged as Info](https://github.com/crazy-max/swarm-cronjob/blob/a62b403f08868250502cbfc90579993c815f5075/internal/app/app.go#L178), but

[code]

is [logged as Debug](https://github.com/crazy-max/swarm-cronjob/blob/a62b403f08868250502cbfc90579993c815f5075/internal/app/app.go#L176) message?

Since no log appeared (in log level `info`), I first thought that the u

[2021-03-15 06:44] #77 closed

[2021-03-15 17:31] crazy-max commented on #113
@maiermic https://github.com/crazy-max/swarm-cronjob/issues/29#issuecomment-595607903

[2021-03-15 17:31] #113 closed

[2021-03-23 05:17] joliveros opened #115 "DNS - docker stack service names cannot be resolved"
### Behaviour
Container for cron job does not seem to be able to resolve names in host `/etc/hosts` file nor docker stack service names.

#### Steps to reproduce this issue

1. Add new alias for 0.0.0.0 to /etc/hosts file or add service to `depends_on` of service definition
2. try to resolve either name from within container i.e. by using curl

#### Expected behaviour
Expected behaviour is to reso

[2021-03-23 20:35] Kledenai opened #116 "it is possible to use code in the schedule?"
Hello, good night.

I am trying to run a cronjob on the last day of the month, and the way I use it in the cron format it is not working.

Below is the way I am trying to comply with the schedule:

[code]

and he gives this error

[code]

the error is literally in the label line, my entire yaml is correct, but there is a problem with the schedule label.

[2021-04-14 01:02] #26 closed

[2021-04-30 06:23] #115 closed

[2021-04-30 06:23] #116 closed

[2021-05-16 23:58] mathroc commented on #18
it’s not trivial but not too hard to do already:

you need to add docker *in* the image of your service, mount the docker socket in it, and then you can call any docker you’d like from inside the service, eg: `docker service update --force nginx` and call it whenever you like

[2021-05-17 00:03] mathroc opened #132 "documentation mistake in mariadb exemple"
I think there’s a mistake in the mariadb example, the label `swarm.cronjob.schedule=* * * * *` seems wrong

according to https://pkg.go.dev/github.com/robfig/cron#hdr-CRON_Expression_Format, 6 fields are required but there’s only 5 here.

and it looks like it would run every minutes (or seconds?), maybe it should be something like that: `swarm.cronjob.schedule=0 0 3* * * *` to run it at 4 in the m

[2021-05-17 07:51] crazy-max commented on #132
@mathroc Not a mistake, can be [5 or 6 fields (`cron.SecondOptional`)](https://github.com/crazy-max/swarm-cronjob/blob/969ddd239461238b7ae4f7b7d4c4c6ce30104f23/internal/app/app.go#L32).

[2021-05-17 07:51] #132 closed

[2021-05-19 07:54] Scapal opened #133 "Why no Windows Docker image ?"
Hi,

Since it is a Go app and that you release Windows binaries, why wouldn't you also release Windows Docker images ?

Kind regards

[2021-05-23 19:00] mostafa-asg commented on #20
I have the same issue.
**Cluster:** 1 manager node with 2 worker nodes.
**Docker version:** 20.10.6
I ran `busybox date` example in global mode.
[code]
`swarm_test1` only appeared once.

[2021-06-22 10:26] camo-f commented on #44
Hello,

I faced the same issue recently, As a workaround, I tried to make use of the condition `on-failure` for `restart-policy` provided by Docker Swarm (see https://docs.docker.com/compose/compose-file/compose-file-v3/#restart_policy).

It seems to work with the following minimal example :
[code]

Results
[code]

It shows two things :
- When the job exits with 0, it does not restart.
- When the

[2021-11-03 07:42] matyasrichter opened #151 "[QUESTION] Registry authentication"
Hi,

thank you for your work on this project, it's been working perfectly for us.

We've come across an issue with pulling images from a private registry. While that's not specifically a swarm-cronjob issue, I was wondering if someone would be able to find a solution. When deploying with `docker stack deploy --with-registry-auth stackname`,   if the only service in the stack is a service to be run

[2021-12-15 10:09] jcrombez commented on #151
I'm having a similar issue and i have to thank you because you made me understand an understand why.

I knew i was having a private registry auth issue but it was random.
My stack has a "web" service and a "cron" service, both using the same image.
When our CI build a new image, we usually deploy the stack right after (and using `--with-registry-auth") but because we have an always running service

[2021-12-15 10:46] matyasrichter commented on #151
I totally forgot about this issue! The solution is actually built into swarm-cronjob, and even documented. I must have missed it in the docs before I created this issue. You need to label the cronjob service (the actual end service, not swarm-cronjob itself) with `swarm.cronjob.registry-auth` as described [in the docs here](https://crazymax.dev/swarm-cronjob/usage/docker-labels/). When swarm cronj

[2021-12-15 10:46] #151 closed

[2022-01-01 15:14] fatemealizade opened #164 "Terminal not showing the output of the python file"
### Behaviour
<img width="1440" alt="Screen Shot 1400-10-11 at 18 03 49" src="https://user-images.githubusercontent.com/53145698/147853715-8b84e3a7-ce84-4b49-8cc7-08b82202c464.png">

#### Expected behaviour

* Target Docker version (the host/cluster you manage) :
* Platform (windows/linux) :
* System info (type `uname -a`) :
* Target Swarm version :

### Docker info

### Logs

[2022-02-01 23:48] Archanium opened #168 "Feature: Adding support for automatically fetching the newest image"
Hi

First of all, thanks for making this!

I don't have that much experience in Go, but I was wondering if it would be possible to add a flag for making the swarm update the service on the next start.

I'm currently using [Shepherd](https://github.com/djmaze/shepherd) for doing this, but it doesn't play nice with multiple services updating the service definition.

[2022-02-07 10:55] didacrarbones opened #170 "Email/slack notifications on warnings & errors"
First of all, thanks for the awesome project!

I have been using the image for a while, and I always thought that it would be awesome to get configurable notifications via email/slack when there's an issue running any of the jobs. In my case, some of the jobs hang sometimes due to disk usage issues, and I have to always find out because the service is down. I would love to get the notification as

[2022-03-11 08:36] NicolasLeCorre opened #175 "docker cap_add seems to work only with replica to 1 and not in scheduled mode"
Hi, and thanks for your work !

We use cronjob to start jobs in our clusters and for some reasons we need for one of our container to set the mac_address (licensing stuff). We found that adding cap_add: - NET_ADMIN allow us to override that value and we are ok with that.

We then tried to deploy such a container in our swarm and found that :
* if the container is started with deploy: replica: 1, i

[2022-03-30 10:30] matyasrichter opened #179 "Panic when trying to extract registry auth from a service without registry auth"
#### Steps to reproduce this issue

1. Deploy a service without `--with-registry-auth`
2. Set `swarm.cronjob.registry-auth=true` for that service
3. Wait for swarm-cronjob to trigger that job

#### Expected behaviour

Not really sure, I think it would make sense to log a warning and try to run that service anyway.

#### Actual behaviour

swarm-cronjob (or rather, the docker cli package, if I under

[2022-06-03 08:53] ieugen commented on #170
Hi,

I have the same issue here.
I just discovered the project and looks great.
Tried it with  a cron to do a curl. Made a mistake and I could not tell easily if it's failing of not.
I still don't know WHY it's failing since I don't see anything in logs yet.

[2022-06-03 09:10] ieugen opened #194 "Report failed cron jobs in swarm-cronjob log"
This is not a bug, it's a feature request.

I believe it would be very useful to have report sucess / failure of running tasks in swarm-cronjob logs.

Running the example with date, I can see some information in the logs but it's not clear which job failed and which succeeded.
I believe it can be done since swarm cronjobs has access to docker logs and can read information about those failed jobs.

[2022-06-04 12:22] glenelkinsdev opened #195 "Couple of questions"
So far i'm loving this, it's the only swarm scheduler i have found that actually works. I do have a couple of questions:

1) When my service is running in replicated mode, lets say i say 9 replicas, it seems to automatically go back to just 1. Is this the correct behaviour? I ask because i have a container that processes video files, converts the format etc i don't want it to just run 1 container

[2022-07-17 01:38] crazy-max commented on #179
fixed by #202

[2022-07-17 01:38] #179 closed

[2022-07-17 01:43] crazy-max commented on #170
I get your point but it's not the purpose of swarm-cronjob to track if a command for a service succeed or not. It's up to the service itself to report this kind of issue.

[2022-07-17 01:43] #170 closed

[2022-07-17 01:45] #168 closed

[2022-07-17 03:13] crazy-max commented on #175
Apparently capabilities are not handled for swarm services. In #203 I have added a new label `swarm.cronjob.capabilities` where we can set kernel capabilities when the service is updated but does not seem to work:

[code]

[code]

Also looking at the docs it seems it's not supported when deploying a stack in swarm mode: https://docs.docker.com/compose/compose-file/compose-file-v3/#cap_add-cap_drop

[2022-07-18 07:14] NicolasLeCorre commented on #175
Thanks for your reply :)
We managed to use a different solution (not requiring NET_ADMIN) but it may be interesting to be able to use it anyways.

You said that even with the dedicated label it still does not work; it is because of swarm ?
Do you think it is a "bug" that it works with replicas: 1 ?

[2022-10-20 06:27] dberardo-com commented on #195
i would add to this another important question: i have noticed that when a container is restarted, then the cronjob is rescheduled automatically, regardless of the actual cron scheulde rule. This is really not desirable. is there a way to prevent this?

[2022-10-20 06:31] dberardo-com commented on #28
maybe because i am not a native english speaker, but what is the skip-running flag even intended to do? this is totally unclear to me from the doc: "Do not start a job if the service is currently running."

which service is meant here ?

[2022-11-10 11:00] StephaneG31 opened #219 "Prometheus metrics endpoint"
It can be great to have a prometheus metrics endpoint that provide some info like :

Histogram to know the duration time of each job
Counter by status of the job
...

https://prometheus.io/docs/concepts/metric_types/

I can more detailed the need, but before I need to know if the product is interested by this kind of proposal.